*
	{
		padding:0px;
		margin:0px;
	}
	.head
	{
		min-height: 300px;
		width: 100%;
		background: url('pics/gr1.jpg');
		background-size: cover;
		text-align: center;
		border-radius: 15px;
		border-bottom: 5px solid #03e9f4;
		border-top: 5px solid #03e9f4;
		background-repeat: no-repeat;
	}
	.head_1
	{
		/* position: absolute; */
		margin-top: 0px;
		padding-top: 90px;
		margin-bottom: 0%;
		width: 100%;
		min-height: 290px;
		text-align: center;
		font-size: 100px;
		align-items: center;
		color: #03e9f4;
		border-radius: 20px;
		background: rgba(0, 0, 0, 0.7);
	}
.doctor_card
	{
		background: #8EACCD ;
		box-shadow:8px 8px 8px #635f62;
		height:520px;
		width:350px;
		margin:10px;
		padding:15px;
		border-radius:5px;
		float: left;
	}
.doctor_card:hover
	{
		background-color:#03e9f4 ;
		color:#000000;
		border-radius:35% 0% 35% 0%;
		border: 10px 10px 10px #000000;
		transition: 1s;
		box-shadow:15px 15px 15px #635f62;
	}
.doctor_innerbox 
	{
		width:320px;
		height:320px;
		background:rgb(255, 255, 255);
		border-radius:100%;
		float: left;	
		border: 10px 10px 10px #635f62;
		margin: 1px 2px ;
		
	}

.doc_img1
	{
		background-image: url('pics/Dr.\ Alok\ Ranjan.jpg');
		background-size: cover;
	}
.doc_img2
	{
		background-image: url('pics/12\ \(1\).jpeg');
		background-size: cover;
	}
.doc_img3
	{
		background-image: url('pics/Ankesh Kumar.jpg');
		background-size: cover;
	}
.doc_img4
	{
		background-image: url('pics/12\ \(1\).png');
		background-size: cover;
	}
.doc_img5
	{
		background-image: url('pics/12\ \(2\).png');
		background-size: cover;
	}
.doc_img6
	{
		background-image: url('pics/Dr.\ Kamal\ Singh.jpg');
		background-size: cover;
	}
.doc_img7
	{
		background-image: url('pics/Dr.\ Kriti\ Saini.png');
		background-size: cover;
	}
.doc_img8
	{
		background-image: url('pics/Dr.\ Chirag\ Shah.jpg');
		background-size: cover;
	}
.doc
	{

		align-items: center;
		text-align: center;
	}
.doc_name
	{
		font-size: 20px;
		text-align: center;
		font-family: 'Gill Sans''Gill Sans MT''Trebuchet MS' sans-serif;
	}
.symbal
	{
		float: left;
		font-size: 40px;
		margin-top:4px;
		text-align: center;
		align-items: center;
		margin-left: 15px;
	}
	.appoion
	{
		
		margin: 20px;
		font-size: 20px;
		align-items: center;
		text-align: center;	
		margin-top: 1px;
		margin-bottom: 1px;
	}
.btn_app
{
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.btn_app:hover
{
	box-shadow: 0px 0px 30px #000000;
	color: #fff;
	background: #000000;
}
	
i
	{
		margin: 4px;
	}
.inst:hover
	{
		background:linear-gradient(blue,rgb(241, 89, 155),rgb(255, 0, 0));
		color: white;
		border-radius: 10px;
	}
.lin:hover
	{
		color: blue;
		background: #fff;
		border-radius: 5px;

	}
.face:hover
	{
		color: blue;
		background: #fff;
		border-radius: 100%;
	}
.twi:hover
	{
		color: white;
		border-radius: 5px;
	}
.goo:hover
	{
		background:linear-gradient(blue,rgb(241, 89, 155),rgb(255, 0, 0));
		border-radius: 100%;
	}